*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Open Sans', sans-serif;
}
.container{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: aqua;
    padding: 30px 20px;
}
header{
    margin: 0 0 20px;
    
}
header label{
    font-size: 30px;
}
img{
    width: 20px;
    transform: translate(-140px , -80px);
}
input{
    width: 300px;
    height: 50px;
    padding: 0 10px;
    outline: none;
    font-size: 24px;
    border: 1px solid #000;
}
.buttuns{
    display: flex;
    flex-direction: column;
    margin: 30px;
}
button{
    width: 300px;
    height: 40px;
    margin: 10px;
    font-size: 20px;
    background: transparent;
    border-radius: 10px;
    border: 1px solid #000;
    outline: none;
    cursor: pointer;  
}
.result{
    font-size: 25px;
    transform: translateY(-40px);
    color: red;
}
.github button{
    width: 150px;
}
button:hover{
    animation: butt 1s ease;
}
@keyframes butt {
    20% { background-color : #fff;}
}